body {
    color: #fff;
    background: linear-gradient(to bottom, #000000, #3b1b45);
    font-family: 'font-name', monospace;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    background: rgb(15, 15, 15);
    font-size: 50px;
    /*backdrop-filter: blur(10px);*/
}

.user-card {
    margin-top: 20px;
    width: 100%;
}

.user-card .user-card-img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin: auto;
    display: block;
    background: rgb(15, 15, 15);
}

.user-card-username {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    margin: 0;
}

.social-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social-bar a {
    border-radius: 8px;
    background-color: #000;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.social-bar a img {
    max-width: 100%;
    max-height: 100%;
}

.user-card-desc {
    margin: auto;
    max-width: 75%;
    text-align: center;
}

#gameList {
    max-width: 600px;
    margin: auto;
}
  
.game-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.link-bar a {
    color: #fff;
    font-weight: bolder;
    margin: 0 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

footer {
    text-align: center;
}