body {
    margin: 0;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-img {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -2;
}

.background-blur {
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(18px);
    position: fixed;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.nav-bar {
    background-color: var(--main-dark);
    height: 75px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 5px solid var(--main-yellow);
}

@media only screen and (max-width: 690px) {
    .nav-bar a {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 380px) {
    .nav-bar a {
        font-size: 14px !important;
    }
    .nav-bar {
        gap: 5px;
    }
}

footer {
    background-color: var(--main-dark);
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-top: 5px solid var(--main-yellow);
}

footer a {
    color: #fff;
}

.secondary-link {
    color: #636363;
    text-decoration: none;
}

.secondary-link:hover {
    text-decoration: underline;
}

.content {
    width: 95%;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

.content div {
    background-color: var(--main-dark);
    border: 5px solid var(--main-yellow);
    text-align: center;
    padding: 10px;
    width: 90%;
    border-radius: 12px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.content div h1 {
    margin: 0;
    font-size: 55px;
    font-weight: 900;
}

.content div p {
    margin: 0;
}

/* CONTENT STYLES */

#about-us img {
    display: block;
    margin: auto;
    max-height: 200px;
    border-radius: 12px;
    border: 2px solid var(--secondary-yellow);
    box-shadow: 8px 8px 0px var(--secondary-yellow);
    margin-bottom: 10px;
}

#about-us p {
    font-size: 20px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

#about-us p a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#about-us p a:hover {
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-yellow);
}

#games p {
    font-size: 28px;
}

#games ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#follow-us p {
    font-size: 28px;
}

#follow-us ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
    border-bottom: 2px solid #00000000;
    transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link:hover {
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-yellow);
}

/* ANNOUCEMENT STYLES */

.announcement-title {
    margin: 0;
    font-size: 38px;
    text-align: center;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,0));
}

#announcement h1 {
    margin: 0;
}

#announcement p {
    margin: 0;
    font-size: 22px;
}

#announcement p a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 900;
    transition: color 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#announcement p a:hover {
    color: var(--main-yellow);
    border-bottom: 2px solid var(--main-yellow);
}