.kode-mono {
    font-family: "Kode Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    scrollbar-color: #576070 var(--light-dark-background);
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    border: 5px dashed var(--accent-hover);
}

.topbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: var(--background);
    border-bottom: 2px dashed var(--accent-hover);
    z-index: 10;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.navbar a {
    display: block;
    text-align: center;
    /*width: 150px;*/
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    line-height: 50px;
    color: var(--accent-hover);

    background: linear-gradient(to top, var(--light-background), #00000000);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 100%;

    border-bottom: 2px solid #00000000;

    transition: border-bottom 250ms cubic-bezier(0.165, 0.84, 0.44, 1), background-position 500ms cubic-bezier(0.165, 0.84, 0.44, 1), background-size 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), line-height 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar a:hover {
    line-height: 40px;
    background-size: 100% 100%;
    background-position: 0 100%;
    border-bottom: 2px solid var(--accent-hover);
}

.hero {
    padding-top: 75px;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: 0;
}

.page-title {
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 74px;
    font-weight: 900;
    color: var(--background);
    -webkit-text-stroke: 2px var(--accent-hover);
}

.hero-bloom {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 100%;
    background: radial-gradient(rgb(255, 99, 71, .5), #00000000, #00000000);
    z-index: -1;
}

.main-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* LANG COLORS */

.blank-container {
    text-align: center;
}

.blank-container p {
    font-size: 18px;
}

.blank-container p span {
    font-weight: 900;
}

.lua-text {
    color: #0d8ee4;
}

.python-text {
    color: #fdf031;
}

.css-text {
    color: #0d8ee4;
}

.html-text {
    color: #c43e00;
}

.js-text {
    color: #ffbb00;
}

/* CODE CONTAINERS */

.code-block-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.code-block-container {
    padding: 20px;
    background-color: var(--light-background);
    border-radius: 20px;
    border: 2px solid var(--accent-hover);
}

.code-block-container h3 {
    margin: auto;
    text-align: center;
}

.code-block-container pre {
    text-align: left;
}

.code-block-container code {
    background: var(--light-dark-background);
    border-radius: 10px;
    border: 1px solid var(--accent-hover);
}