body {
    background-color: #BBDCE5;
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header {
    background-color: #ECEEDF;
    padding: 20px;
    border-radius: 20px;
}

.header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #3a3a37;
}

.header p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #3a3a37;
}

.content {
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #ECEEDF;
}

.link-list {
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #D9C4B0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-list a {
    padding: 10px;
    background-color: #ECEEDF;
    border-radius: 12px;

    color: #3a3a37;
    text-decoration: none;
    font-size: 24px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.link-list a img {
    width: auto;
    height: 100%;
    background-color: #D9C4B0;
    padding: 5px;
    border-radius: 6px;
}