/* MAIN STYLE */

body {
    background-color: #222831;
    color: #DFD0B8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    text-align: center;
    height: 100vh;
}

.home-container h1 {
    margin: 0;
    font-size: 100px;
}

.home-container button {
    width: 300px;
    height: 100px;
    background-color: #6bff75;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #191d24;
    border-radius: 20px;
    border: 5px solid #191d24;

    transition: transform 250ms ease;
}

.home-container button:hover {
    cursor: pointer;
}

.home-container button:active {
    transform: scale(.9);
}

.game-container {
    display: none;
    width: 100%;
}

/* GAME STYLE */

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-header h3 {
    font-size: 38px;
    margin: 0;
}

.game-word {
    background-color: #191d24;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;

    font-family: monospace;
    font-size: 50px;
}

.game-skip-btn {
    padding: 10px;
    font-size: 28px;
    border-radius: 18px;
    background-color: #6b8eff;
    color: #191d24;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid #191d24;

    transition: transform 250ms ease;
}

.game-skip-btn:hover {
    cursor: pointer;
}

.game-skip-btn:active {
    transform: scale(.9);
}

.game-correct-btn {
    margin-top: 100px;
    padding: 10px;
    font-size: 68px;
    border-radius: 50%;
    background-color: #6bff75;
    color: #191d24;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid #191d24;
    aspect-ratio: 1;

    transition: transform 250ms ease;
}

.game-correct-btn:hover {
    cursor: pointer;
}

.game-correct-btn:active {
    transform: scale(.9);
}

.progress-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    height: 25px;
    background-color: #1f242c;
    border-radius: 15px;
    border: 4px solid #191d24;
}

.progress-bar div {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35%;
    height: 100%;
    border-radius: 15px;

    background-color: #6b8eff;
}

/* TEAM STYLE */

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team-container h4 {
    font-size: 30px;
    margin: 0;
}

.team-container span {
    font-family: monospace;
    font-size: 64px;
    width: 75px;
    height: 75px;
    background-color: #191d24;
    border-radius: 20px;
}

.score-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #191d24;
    color: #DFD0B8;
    font-size: 40px;
    border: 3px solid #DFD0B8;
}

.team1 {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.team2 {
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}